{% extends 'base.html' %}

{% block meta %}
<title>Todolist - Logout</title>
{% endblock meta %}

{% block content %}

<div class="logout">

  <h1>Logout</h1>

  {% if user.username %}
  <p>You are currently logged in as <strong>{{ user.username }}</strong></p>
  {% else %}
  <p>You are currently not logged in as anyone</p>
  {% endif %}

  <form method="POST" action="">
    {% csrf_token %}
    <table>
      <tr>
        <td style="padding-bottom: 10px;">Are you sure you want to logout?</td>
      </tr>
      <tr>
        <td><input class="btn logout_btn" type="submit" value="Logout"></td>
      </tr>
    </table>
  </form>
</div>

{% endblock content %}
