{% extends 'base.html' %}

{% block meta %}
<title>Todolist - Logout</title>
{% endblock meta %}

{% block content %}

<div class="base">
  <form class="form center" method="POST" action="">
    {% csrf_token %}
    <h1 class="form-header">Sign Out</h1>
    <p class="form-info">
      {% if user.username %}
      You are currently logged in as <strong>{{ user.username }}</strong>
      {% else %}
      You are currently not logged in as anyone
      {% endif %}
    </p>
    <p class="form-info">Are you sure you want to logout?</p>
    <button class="btn btn-primary form-btn" type="submit">Logout</button>
    </table>
  </form>
</div>

{% endblock content %}
