{% extends 'base.html' %}

{% block meta %}
<title>Todolist - My Tasks</title>
{% endblock meta %}

{% block content %}

<!-- Modification from the official bootstrap site -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h1 class="navbar-brand">{{ user.username }}</h1>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="justify-content-end collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'todolist:create_task' %}">New Task</a>
        <a class="nav-item nav-link" href="{% url 'todolist:logout' %}">Logout</a>
      <ul>
    </div>
  </div>
</nav>

<div class="base">

<table style="margin-top: 20px; text-align: center;">  
  <tr style="font-size: 18px;">
    <th>Title</th>
    <th>Created At</th>
    <th>Description</th>
    <th>Status</th>
  </tr>
  {% for task in tasks %}
  <tr style="text-align: left;">
    <td>{{ task.title }}</td>
    <td>{{ task.date }}</td>
    <td>{{ task.description }}</td>
    <td>
      {% if task.is_finished%}
      Finished
      {% else %}
      Not Finished
      {% endif %}
    </td>
    <td>
      <form method="POST" action="{% url 'todolist:update_status' id=task.id %}">
        {% csrf_token %}
        <button type="submit">Change Status</button>
      </form>
    </td>
    <td>
      <form method="POST" action="{% url 'todolist:delete_task' id=task.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

</div>

{% endblock content %}
