{% extends 'base.html' %}

{% block meta %}
<title>Todolist - My Tasks</title>
{% endblock meta %}

{% block content %}

<!-- Modification from the official bootstrap site -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h1 class="navbar-brand">{{ user.username }}</h1>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="justify-content-end collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav">
        <a data-bs-toggle="modal" data-bs-target="#createTaskModal" class="nav-item nav-link" href="{% url 'todolist:create_task' %}">New Task</a>
        <a class="nav-item nav-link" href="{% url 'todolist:logout' %}">Logout</a>
      <ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="createTaskModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Task</h1>
        <button id="closeTaskModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="createTaskForm" onsubmit="createTask(event)" method="POST" style="margin: auto; min-width: 280px; max-width: 450px;">
          <div class="mb-3">
            <label for="title" class="col-form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title">
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Description</label>
            <textarea style="resize: none;" class="form-control" id="description" name="description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" form="createTaskForm" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<div id="todolist" class="todolist"> 
</div>

{% endblock content %}
